@import url('https://fonts.googleapis.com/css?family=Varela+Round'); /* FONT IMPLEMENATION COMMAND: font-family: 'Varela Round', sans-serif;*/

html {
  background-color: Turquoise;
  outline: none;
}

h1.title {
  position: absolute;
  top: 40px;
  left: 40px;
  font-size: 75px;
  font-family: 'Varela Round', sans-serif;
  animation-name: showTitle;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  color: white;
}

@keyframes showTitle {
  from {
    opacity: 0;
    top: 40px;
    left: 40px;
  } to {
    opacity: 1;
    top: 50px;
    left: 50px;
  }
}

@keyframes showExplanation {
  from {
    opacity: 0;
    top: 195px;
    left: 60px;
  } to {
    opacity: 1;
    top: 175px;
    left: 50px;
  }
}

h4.explanation {
  position: absolute;
  top: 195px;
  left: 60px;
  font-size: 25px;
  color: white;
  font-family: 'Varela Round', sans-serif;
  animation-name: showExplanation;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

button.get_started {
  opacity: 0;
  position: absolute;
  top: 45%;
  border: none;
  outline: none;
  background: none;
  width: 100%;
  height: 200px;
  font-family: 'Varela Round', sans-serif;
  color: white;
  font-size: 60px;
  text-align: center;
}
button.get_started {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end),
    show 1s forwards,
    blink-caret .75s step-end;
  animation-delay: 3.5s;
}

/* The typing effect */
@keyframes typing {
  from { opacity: 1; width: 0 }
  to { opacity: 1; width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { opacity: 1; border-color: transparent }
  50% { opacity: 1; border-color: orange; }
}

@keyframes show {
  from { opacity: 1; }
  to { opacity: 1; }
}

@keyframes exiting {
  from {
    opacity: 1;
  } to {
    opacity: 0;
    top: -200px;
  }
}

h2.surveyTitle {
  position: absolute;
  top: 5%;
  left: 10%;
  color: white;
  font-size: 75px;
  font-family: 'Varela Round', sans-serif;
  width: 90%;
  height: 225px;
  opacity: 0;
  top: 0%;
}

@keyframes startSurveyTitle {
  from {
    opacity: 0;
    top: 0%;
  } to {
    opacity: 1;
    top: 5%;
  }
}

h4.locationClass {
  opacity: 0;
  position: absolute;
  top: 45%;
  left: 0%;
  width: 100%;
  height: 50px;
  font-family: 'Varela Round', sans-serif;
  font-size: 35px;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 100%;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end),
    show 1s forwards,
    blink-caret .75s step-end;
}

input.prefrence {
  opacity: 0;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  font-size: 350%;
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  color: white;
  background: none;
  border: none;
  outline: none;
}

input.prefrence::placeholder {
  color: lightGray;
}
